<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO!</title>
</head>
<link rel="stylesheet" style="text/css" href="static/index.css">
<body>
    <div class="content">
        <div class="titulo">¡HOLA!</div >
        <div class="imagen"><img src="/static/a.jpg" class="im1"></div>
        <div class="presentacion">Mi nombre es Eduardo Morales, es un gusto saludarte!</div>
        <div class="introduccion">Permiteme mostrarte mis ultimas experiencias laborales a continuación...</div>
        <div class="experiencia">
            <div class="j1">
                <h2> JULIO 2022 – OCTUBRE 2022</h2>
                <h3>Agente de colecciones bilingüe | SEGOSO.</h3>
                <p> Dar seguimiento a las cuentas pendientes por pagar y brindar
                    alternativas de liquidación a los deudores al rededor de ESTADOS UNIDOS.
                </p>
            </div>
            <div class="j2">
                <h2> MARZO 2022 - JULIO 2022</h2>
                <h3>Agente de contact center bilingüe. | ATENTO SERVICIOS SA DE CV </h3>
                <p> Llamadas entrantes y salientes para clientes del servicio de 
                    princesshouse.com asistiendo a clientes mediante CRM para el manejo de pedidos.
                </p>
            </div>
        </div>
    </div>
</body>
</html>